@font-face {
  font-family: 'mctext';
  font-display: swap;
  src: url(/assets/fonts/mctext.woff2) format('woff2'),
       url(/assets/fonts/mctext.woff) format('woff'),
       url(/assets/fonts/mctext.ttf) format('truetype');
}

@font-face {
  font-family: 'mctext-bold';
  font-display: swap;
  src: url(/assets/fonts/mctext-bold.woff2) format('woff2'),
       url(/assets/fonts/mctext-bold.woff) format('woff'),
       url(/assets/fonts/mctext-bold.ttf) format('truetype');
}

/*
@font-face {
  font-family: 'mctitle';
  font-display: swap;
  src: url(/assets/fonts/mctitle.woff2) format('woff2'),
       url(/assets/fonts/mctitle.woff) format('woff'),
       url(/assets/fonts/mctitle.ttf) format('truetype');
}
*/

/*
  ---------------------------
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
  ---------------------------
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  z-index: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
#root, #__next {
  isolation: isolate;
}
*/

/*
  ---------------------------
  Custom CSS Starts Here
  ---------------------------
*/

body {
  background-color: black;
}

a {
  text-decoration: none;
  color: #ff674d;
}

a:hover {
  color: #cc523d;
}

footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 50px 100px 50px;
  background-color: #0f0f0f;
  z-index: 1000;
}

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgb(0 0 0 / 100%);;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 70%);
  transition: all 0.3s;
  height: 110px;
  width: 100%;
  z-index: 1000;
}

nav.scroll {
  height: 80px;
  background-color: rgb(15 15 15 / 100%);
}

nav *, footer * {
  align-self: center;
}

nav img {
  height: 60%;
  transition: height 0.1s;
}

nav img:hover {
  height: 65%;
}

nav ul, footer ul {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0px;
}

nav li {
  position: relative;
}

nav li a, nav li p {
  font-family: 'mctext';
  padding: 12px 16px;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 0px 5px;
  line-height: 1em;
}

nav li:hover > a, nav li:hover > p {
  background-color: #cc523d;
  color: white;
}

nav li a.active, nav li p.active {
  background-color: #cc523d;
  color: white;
}

nav ul ul {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 5px;
  background-color: black;
  border-radius: 5px;
  width: 180px;
  /* padding: 16px 0px 16px 0px; */
  transition: visibility 0.3s, opacity 0.3s;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%)
}

nav ul ul li a {
  display: block;
  border-radius: 0;
  margin: 0;
  padding-left: 20px;
}

nav ul li:hover > ul, ul.hover_effect {
  visibility: visible;
  opacity: 100%;
}

footer p {
  color: white;
}

footer li a {
  font-family: 'mctext';
}

footer li {
  margin: 10px;
}

main {
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

#landing-title-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.title {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sub-title {
  width: 100%;
  height: 400px;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(/assets/images/404-title.webp);
  background-position: center 0px;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.title div, .sub-title div {
  width: 80%;
}

.title h1, .sub-title h1 {
  font-family: 'mctext';
  color: white;
  font-size: 4em;
  text-shadow: 0 2px black, 2px 0 black;
  text-align: center;
}

.title h2, .sub-title h2 {
  font-family: 'mctext';
  color: #d4d4d4;
  font-size: 2em;
  text-shadow: 0 2px black, 2px 0 black;
  text-align: center;
}

.content, #sub-nav {
  width: 80%;
  max-width: 1020px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #c3c3c3;
  font-family: sans-serif;
}

.content section {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 100%;
}

section.center {
  align-items: center;
  line-height: 2em;
  text-align: center;
}

.content p {
  margin: 1em 0 1em 0;
}

li.rules {
  margin: 0.5em 0 0.5em 0;
}

.content h3 {
  margin: 1em 0 1em 0;
  font-family: 'mctext';
  font-size: 1.5em;
}

#landing section {
  flex-direction: row;
}

#landing div {
  width: 50%;
}

#landing div img {
  margin: auto;
  width: 33%;
}

#landing h3 {
  font-family: 'mctext';
  font-size: 2em;
}

.content section.divider {
  padding: 0;
  align-items: center;
}

#terms {
  padding-top: 110px;
  justify-content: flex-start;
}

#terms h2, #terms p {
  padding: 20px 0 20px 0;
  width: 100%;
  
}

#vote #votelinks {
  flex-direction: row;
  justify-content: center;
  border-radius: 50px;
  border: #ff674d dotted 3px;
  flex-wrap: wrap;
}

#votelinks div {
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 2em;
  text-align: center;
  width: 33%;
  min-width: 250px;
}

button {
  padding: 10px;
  margin: 16px;
  min-width: 90px;
  line-height: 1.5em;
  border-radius: 5px;
  background-color: #ff674d;
  font-family: 'mctext';
  color: white;
  border: none;
  transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  cursor: pointer;
  box-shadow: 1px 1px 4px 0px #000000;
}

button:hover {
  background-color: #cc523d;
  transform: scale(1.1);
}

/*
  ---------------------------
  Mobile Support Starts Here
  ---------------------------
*/

@media (max-width: 750px) {
  .title {
    background-position: center 0px;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    padding-top: 100px;
  }
  .title h1, .sub-title h1 {
    font-size: 2.5em;
  }
  .title h2, .sub-title h2 {
    font-size: 1.5em;
  }
  #logo-container {
    display: none;
  }
  nav {
    height: 90px;
  }
  .content, #sub-nav {
    width: 100%;
  }
  nav li a, nav li p {
    padding: 12px 8px;
  }
  #landing section {
    flex-direction: column;
  }
  #landing div {
    width: 90%;
  }
}
