<footer>
  <div style="width: 200px; border-top: 3px dotted #ff674d; margin-bottom: 24px;"></div>
  <p style="font-family: 'mctext'; width: 100%; text-align: center;">Hard difficulty survival with RPG elements and competitive multiplayer.</p>
  <ul>
    <li><a href="https://store.semivanilla.com" target="_blank">Store</a></li>
    <li><a href="https://discord.gg/9X5DpBTNdQ" target="_blank">Discord</a></li>
    <li><a href="/rules">Rules</a></li>
    <li><a href="https://form.jotform.com/220004399965056" target="_blank">Contact</a></li>
  </ul>
  <p style="font-family: 'mctext'; width: 100%; text-align: center;">Not affiliated with Mojang.</p>
</footer>
