<div id="footer">
  <p style="font-family: 'mctext'; width: 100%; text-align: center;">Hard mode survival with RPG elements and competitive multiplayer.</p>
  <ul>
    <li><a href="/"><p>Home</p></a></li>
    <li><a href="/map/fullscreen/" target="_blank"><p>Map</p></a></li>
    <li><a href="https://store.semivanilla.com" target="_blank"><p>Store</p></a></li>
    <li><a href="https://discord.gg/9X5DpBTNdQ" target="_blank"><p>Discord</p></a></li>
  </ul>
  <p style="font-family: 'mctext'; width: 100%; text-align: center;">Not affiliated with Mojang.</p>
</div>
