<div id="nav">
  <div id="sub-nav" style="height: 100%; display: flex; justify-content: space-around;">
    <div style="height: 100%; width: 90px; display: flex; align-items: center; justify-content: center;">
      <img src="/assets/images/favicon.ico" alt="SemiVanilla MC Logo" />
    </div>
    <ul>
      <li><a href="/"><p>Home</p></a></li>
      <li><a href="/map/fullscreen/" target="_blank"><p>Map</p></a></li>
      <li><a href="https://store.semivanilla.com" target="_blank"><p>Store</p></a></li>
    </ul>
  </div>
</div>
