<div id="nav">
  <div id="sub-nav" style="height: 100%; display: flex; justify-content: space-around;">
    <div style="height: 100%;">
      <a href="/" style="height: 100%; width: 110px; display: flex; align-items: center; justify-content: center;"><img src="/assets/images/logo.png" alt="SemiVanilla MC Logo" /></a>
    </div>
    <ul>
      <li><a href="/"><p>Home</p></a></li>
      <li><a href="/map/" target="_blank"><p>Map</p></a></li>
      <li><a href="https://store.semivanilla.com" target="_blank"><p>Store</p></a></li>
      <li><a href="https://discord.gg/9X5DpBTNdQ" target="_blank"><p>Discord</p></a></li>
    </ul>
  </div>
</div>
