<footer>
  <div id="footer-divider"></div>
  <p style="font-family: 'mctext'; width: 100%; text-align: center;">We make awesome servers. Specializing in semi-vanilla and vanilla+ Minecraft servers.</p>
  <ul>
    <li><a href="/join/">How to Join</a></li>
    <li><a href="/potato/">PC Optimization</a></li>
    <li><a href="https://discord.gg/3WzZ3x6wGp" target="_blank">Discord</a></li>
    <li><a href="https://semivanilla.com/khavalon" target="_blank">Khavalon</a></li>
    <li><a href="https://semivanilla.com/asthonia" target="_blank">Asthonia</a></li>
  </ul>
  <p style="font-family: 'mctext'; width: 100%; text-align: center;">© Copyright 2022 SemiVanilla Studios. Not affiliated with Mojang.</p>
  <p style="font-family: 'mctext'; width: 100%; text-align: center;">Cover photo © <a href="https://www.deviantart.com/griffsnuff" target="_blank">griffsnuff</a> on DeviantArt.</p>
  <p style="font-family: 'mctext'; width: 100%; text-align: center;">Cover photo © <a href="https://twitter.com/starshrew" target="_blank">starshrew</a> on Twitter.</p>
</footer>
