<footer>
  <div id="footer-divider"></div>
  <p style="font-family: 'mctext'; width: 100%; text-align: center;">1.19 Minecraft Survival Network. Home of Asthonia and Khavalon.</p>
  <ul>
    <li><a href="/rules/">Rules</a></li>
    <li><a href="/join/">How to Join</a></li>
    <li><a href="/potato/">PC Optimization</a></li>
    <li><a href="https://discord.gg/3WzZ3x6wGp" target="_blank">Discord</a></li>
  </ul>
  <p style="font-family: 'mctext'; width: 100%; text-align: center;">© Copyright 2022 SemiVanilla Studios. Not affiliated with Mojang.</p>
  <p style="font-family: 'mctext'; width: 100%; text-align: center;">"Minecraft Repainted" © <a href="https://www.deviantart.com/griffsnuff" target="_blank">griffsnuff</a> on DeviantArt.</p>
  <p style="font-family: 'mctext'; width: 100%; text-align: center;">"Technoblade Art" © <a href="https://twitter.com/starshrew" target="_blank">starshrew</a> on Twitter.</p>
</footer>
