<footer>
  <div style="width: 200px; border-top: 3px dotted #ff224b; margin-bottom: 24px;"></div>
  <p style="font-family: 'mctext'; width: 100%; text-align: center;">We make awesome servers. Specializing in semi-vanilla and vanilla+ Minecraft servers.</p>
  <ul>
    <li><a href="https://khavalon.com" target="_blank">Khavalon</a></li>
    <li><a href="https://asthonia.com" target="_blank">Asthonia</a></li>
    <li><a href="https://discord.gg/3WzZ3x6wGp" target="_blank">Discord</a></li>
  </ul>
  <p style="font-family: 'mctext'; width: 100%; text-align: center;">© Copyright 2022 SemiVanilla Studios. Not affiliated with Mojang.</p>
  <p style="font-family: 'mctext'; width: 100%; text-align: center;">Cover photo © <a href="https://www.deviantart.com/griffsnuff" target="_blank">griffsnuff</a> on DeviantArt.</p>
  <p style="font-family: 'mctext'; width: 100%; text-align: center;">Cover photo © <a href="https://twitter.com/starshrew" target="_blank">starshrew</a> on Twitter.</p>
</footer>
