<nav>
  <div id="sub-nav" style="height: 100%; display: flex; justify-content: space-around;">
    <div class="hide-mobile-2" style="height: 100%;">
      <a href="/" style="height: 100%; width: 110px; display: flex; align-items: center; justify-content: center;"><img src="/assets/images/logo.webp" alt="SemiVanilla MC Logo" /></a>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        <p>Features</p>
        <ul>
          <li><a href="/rules/" style="padding-top: 20px; border-top-right-radius: 5px; border-top-left-radius: 5px">Rules</a></li>
          <li><a href="/claiming/">Land Claiming</a></li>
          <li><a href="/skills/">Skills + Abilities</a></li>
          <li><a href="/mobs/">Custom Mobs</a></li>
          <li><a href="/enchants/">Custom Enchants</a></li>
          <li><a href="/features/">Vanilla+</a></li>
          <li><a href="/map/" target="_blank" style="padding-bottom: 20px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px">Map</a></li>
        </ul>
      </li>
      <li><a href="/vote/">Vote</a></li>
      <li><a href="https://store.semivanilla.com/" target="_blank">Store</a></li>
      <li class="hide-mobile"><a href="https://discord.gg/3WzZ3x6wGp" target="_blank">Discord</a></li>
    </ul>
  </div>
</nav>
